In [1]:
import pandas as pd

In [2]:
url='https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv'

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

In [4]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
Y=df['price']

In [8]:
df=df.drop('price',axis=1)

In [9]:
df.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
from sklearn.model_selection import train_test_splittest_split

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(df,Y,test_size=0.2,random_state=1)

In [12]:
X_train.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4834,4,1.00,1350,9000,1.5,0,0,4,7,1350,0,1964,0,98103,47.6953,-122.332,1940,8000
4567,4,2.50,2480,5000,2.0,0,0,3,7,2480,0,2004,0,98053,47.6811,-122.035,2410,5000
12309,5,2.50,2140,10320,1.0,0,0,4,7,1330,810,1967,0,98031,47.3927,-122.194,2050,8964
2128,3,1.75,1190,7280,1.0,0,0,4,7,1190,0,1968,0,98092,47.3151,-122.190,1250,7800
924,3,1.75,1560,4049,1.5,0,2,3,7,1000,560,1926,0,98126,47.5666,-122.375,1430,3738

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr=LinearRegression()

In [15]:
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
y_pred=lr.predict(X_test)
y_pred

array([403444.27560444, 820599.46154063, 516273.27000887, ...,
       589566.43113966, 606874.73565662, 350840.99699074])

In [20]:
Y_test.head()

16050    399000.0
7202     500000.0
321      520000.0
11958    315000.0
11418    474000.0
Name: price, dtype: float64

In [21]:
lr.score(X_test,Y_test)

0.7072597154329576

In [22]:
lr.score(X_train,Y_train)

0.6978317762321289

In [23]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
reg=DecisionTreeRegressor(random_state=42)

In [25]:
reg.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=42, splitter='best')

In [28]:
y_pred=reg.predict(X_test)

In [29]:
reg.score(X_test,Y_test)

0.7650112982995005

In [30]:
reg.score(X_train,Y_train)

0.9991366071098735

In [32]:
reg= DecisionTreeRegressor(max_depth = 3, random_state = 42)

In [33]:
reg.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=42, splitter='best')

In [34]:
reg.score(X_train,Y_train)

0.6069872157378822

In [35]:
reg.score(X_test,Y_test)

0.6223403848245368